.form-container {
  display: grid;
  place-content: center;
  height: 100vh;
}

.login-subtitle {
  color: var(--text-secondary);
  font-size: 0.8rem;
  margin-top: 0.4rem;
}
.form-content {
  margin-top: 2rem;
}
.login-form {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background-color: white;
  width: 500px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 33px;
}
.login-label {
  font-size: 0.9rem;
  margin-bottom: 0.9rem;
  display: flex;
  flex-direction: column;
}
.login-label span {
  padding-bottom: 0.3rem;
}
.submit-login-btn {
  transition: all 0.4s ease;
  background-color: var(--main);
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 0.6rem;
}
.submit-login-btn:hover {
  background-color: transparent;
  border: 1px solid var(--main);
  color: var(--main);
}
p.invalid-login {
  font-size: 0.9rem;
  color: red;
  text-align: center;
  margin-top: 1rem;
}
