.todo-app {
  display: grid;
  place-content: center;
}
.todo-app h1 {
  text-align: center;
  margin-top: 2rem;
}
.todo-app h1 span {
  color: var(--main);
  font-size: 2rem;
}
.todo-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter-container {
  width: 100%;
}
