@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --background-color: #f9f9fc;
  --text-secondary: #6e6e6e;
  --text: #484849;
  --main-text: #181d3b;
  --main: #6f6af8;
  --main-light: #c2bfff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*Global styles*/
body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);
  width: 95%;
  margin: auto;
  height: 100vh;
}
h1,
h2 {
  color: var(--main-text);
}
button,
input,
label {
  font-family: inherit;
}

span {
  color: var(--text);
  font-size: 0.9rem;
}
input,
textarea {
  padding: 8px 10px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 3px;
}

input:focus {
  outline: 1px solid var(--main);
}
